html { 
    background: linear-gradient(to bottom right, #77A1D3, #79CBCA, #E684AE) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgb(250, 232, 200);
    font-size: 100%;
    
  }

.container {
    margin: 0;
    padding: 0;
}
.bg {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    position: absolute;
    top: 30%;
}
.bg-survey {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    position: absolute;
    top: 2%;
}

#startBtn{
    border-radius: 60%;
    border-style: none;
    background: rgb(248, 227, 188);
    color: #7777aa;
    cursor: pointer;
    width: 75px;
}
#startBtn p {
    font-size: 140%;
    margin-top: 10px;
}
.links{
    position: fixed;
    top: 92%;
    font-size: 0.8em;
}
.links-survey {
    font-size: 0.8em;
}
a {
    text-decoration: none;
}

